# Binaries for programs and plugins
*.dll
*.dylib
*.exe
*.exe~
*.so
*.so

# Service compiled binary
scout_regiment

# Test binary, build with `go test -c`
*.test

# Test coverage results
*.html
*.out

# Dependencies
vendor/

# Environment variables
.env

# OS-generated trashes
*.log
*~
.*.sw?
.DS_Store
.idea
.vscode
